<dx-data-grid
  id="gridContainer"
  [dataSource]="cities"
  keyExpr="id"
  [allowColumnReordering]="true"
  [showBorders]="true"
>
  <dxi-column dataField="name"></dxi-column>
  <dxi-column dataField="stateCode"></dxi-column>
  <dxi-column dataField="nickName"></dxi-column>
  <dxi-column dataField="lat"></dxi-column>
  <dxi-column dataField="lng"></dxi-column>
  <dxi-column dataField="population"></dxi-column>
  <dxi-column dataField="density"></dxi-column>
  <dxi-column dataField="timezone"></dxi-column>
  <dxi-column dataField="stateName" [groupIndex]="0"></dxi-column>

  <dxo-search-panel [visible]="true"></dxo-search-panel>
  <dxo-paging [pageSize]="10"></dxo-paging>
  <dxo-group-panel [visible]="true"></dxo-group-panel>
  <dxo-grouping #expand [autoExpandAll]="false"></dxo-grouping>
</dx-data-grid>
<div class="options">
  <div class="caption">Options</div>
  <div class="option">
    <dx-check-box
      id="autoExpand"
      [(value)]="expand.autoExpandAll"
      text="Expand All Groups"
    >
    </dx-check-box>
  </div>
</div>